/*  ✪ https://zam.usite.pro/publ/
    ✫ Версия 1.0.0
    © Copyright Плюшки для сайтов 2024
*/
/* Иногда надо устаноаить [id="x"]
    Для понижения приоритета при задавание css через [id="x"] {moj:1;} */
.zMenu, .zMenu *, #x::after, #x::before,
#x *::after, #x *::before {/* Помогает интеграции на любой сайт */
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.1;
  font-size: inherit;
}

/* ✦ Меню ✦ *//* #region */
    /* ✦✦ ! ✦✦ *//* #region */
.zMenu {z-index: 8;
  height: 1.5rem;
  font-size: 1rem;
  overflow: hidden;
}

.zMenu > div {
  display: flex;
  align-items: center;
  float: right;
  width: min-content;
  height: 100%;
  white-space: nowrap;
  background: var(--bg);
}

.zMenu a {
  margin: 0 3px;
}
.zMenu button {
  display: none;
  float: right;
  height: 100%;
}
    /* ✦✦ ! ✦✦ *//* #endregion */

    /* ✦✦ Меню мобил (Невлезло по горизонту) ✦✦ *//* #region */
.zMenuX > div {
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 1.5rem;
  right: -16em;
  bottom: 0;
  width: 15em;
  /* white-space: wrap; */
  overflow: auto;
  transition: .6s;
}

.zMenuX button {
  display: block;
}
    /* ✦✦ Меню мобил (Невлезло по горизонту) ✦✦ *//* #endregion */
/* ✦ Меню ✦ *//* #endregion */



button, a {/* Отталкиваемся от body font: 14px sans-serif; */

    /* + Можно добавить для корекции

        display: flex;
    */
    display: inline-flex;
    ---but-C: var(--B-C);/* color b */
    ---but-C-bg: var(--B-C);/* (icon background .B-I p) */
    ---but-C-b-sh: var(--B-C);/* (icon box-shadow .B-I p) */
    font: inherit;
    color: var(---but-C);
    background: var(--C-);
    cursor: pointer;
    text-decoration: unset;
    transition: .3s;
}




/* 🢃🢃🢃 icon button .B-I-.. 🢃🢃🢃 *//* #region */
    /* ⮟⮟⮟ ! .B-I(x) ⮟⮟⮟ *//* #region */
        /* 🠗🠗🠗 ! 🠗🠗🠗 *//* #region */
[class*="B-I"] {
    height: 1em;
    padding-left: 1em
}
        /* 🠕🠕🠕 ! 🠕🠕🠕 *//* #endregion */

        /* 🠗🠗🠗 p s иконки 🠗🠗🠗 *//* #region */
            /* ▿▿▿ p ▿▿▿ *//* #region */
[class*="B-I"] p { /* icon */
    position: absolute;
    left: 0;
    top: 0;
    width: 1em;
    height: 1em;
    display: flex;/* Центруем */
    justify-content: center;
    align-items: center;
    font: inherit;/* от p font-size: var(---med-B-12-14-16); */
}
            /* ▵▵▵ p ▵▵▵ *//* #endregion */

            /* ▿▿▿ s ▿▿▿ *//* #region */
[class*="B-I"] s {
    transform: translate(0, 0);/* Для корекции отображения */
}
/*  + Для перемещения используем (top|left):.5em;
! Не исползавать transform: translate(-10%, -50%); для перемещения !
    + Поворот для всех .B-Ix-.. s {transform: translate(-50%, -50%) rotate(45deg);}
}
*/

[class*="B-I"] s::before,
[class*="B-I"] s::after {
    content: '';
    position: absolute;
    top: 0; left: 0;/* Для transition: .7s */
    width: .8em;
    height: 2px;/* Для уменьшения толщины добавить border: 0; || border-width: 0 1px 0 0;(Оставить 1 стенку) */
    border: 1px solid var(---but-C-bg);
    background: var(---but-C-bg);
    transform: translate(-50%, -50%);/* коректируем */
    /* animation: B-A-p 1s ease-in-out; *//*! Нагружает */
    transition: .7s,/* для красивой смены кнопок .B-Ix-M ☰ => ✘ .B-Ix-X */
        var(--trans),/* Для смены диза */
        background .5s, border-color .5s; /* для плавной смены цвета при наведении мышкой */
}
@keyframes B-A-p {
    0% {
        width: 80%;/* Убераем дёрганье при первой загрузке B-A-M */
        transform: translate(-50%, -50%) rotate(90deg);
    }
}
            /* ▵▵▵ s ▵▵▵ *//* #endregion */
        /* 🠕🠕🠕 p s иконки 🠕🠕🠕 *//* #endregion */

        /* 🠗🠗🠗 b 🠗🠗🠗 *//* #region */
[class*="B-I"] > b {/* Текст */
    top: 1px;
    display: block;
    margin: 0 4px 0 2px;
    height: 100%;
    font-size: .727em;
    font-size: .7em;
    text-align: left;
}
        /* 🠕🠕🠕 b 🠕🠕🠕 *//* #endregion */
    /* ⮝⮝⮝ ! .B-I(x) ⮝⮝⮝ *//* #endregion */

    /* ⮟⮟⮟ B-I(x)-.. иконки ✔ ✘ ☰ (Новости, Глобус ..) ⮟⮟⮟ *//* #region */
/*+ Тонкая линия: (Полезно для проверки точности или когда нужна тонкая линия)
        height: 1px;
        border: 0;
❤
*/
        /* 🠗🠗🠗 ! 🠗🠗🠗 *//* #region */
/*+ .B-Ix-.. Удаляет в последней s ::before
    ПРосто:
    border-top-left-radius: 500%;
    border-top-right-radius: 500%;
    border-bottom-left-radius: 500%;
    border-bottom-right-radius: 500%;
*/
[class*="B-Ix"] s:last-child::before {/* Удаляем в последней s::before */
    content: unset;
}
        /* 🠕🠕🠕 ! 🠕🠕🠕 *//* #endregion */




        /* 🠗🠗🠗 M ☰ 🠗🠗🠗 *//* #region */

        /** Заменяется => ✘ .B-Ix-X (Для анимации) */

.B-Ix-M s::before {
    top: -.3em;
}
.B-Ix-M s::after {
    top: .3em;
}
.B-Ix-M s:nth-child(2)::after {
    top: 0;
}
        /* 🠕🠕🠕 M ☰ 🠕🠕🠕 *//* #endregion */

        /* 🠗🠗🠗 ✘ (Закрыть/Плохо) До 🠗🠗🠗 *//* #region */
            /* ▿▿▿ ! ▿▿▿ *//* #region */
:is([class*="B-Ix-X"], [class*="B-I-X"]) p {/* красный */
    ---but-C-bg: #f66;
}
            /* ▵▵▵ ! ▵▵▵ *//* #endregion */

            /* ▿▿▿ X ▿▿▿ *//* #region */
            /** Заменяется => .B-Ix-M (Для анимации) */
:is(.B-I-X, .B-Ix-X) s::before {/* .B-I-X Для просто кнопки X без анимации на ☰ */
    transform: translate(-50%, -50%) rotate(45deg)
}
:is(.B-I-X, .B-Ix-X) s::after {
    transform: translate(-50%, -50%) rotate(-45deg)
}
.B-Ix-X s:nth-child(2)::after {/* Для анимации переключения на ☰ */
    opacity: 0;
    left: 1em;
    width: 0;/* Уберём нажатие за пределами button */
    height: 0;
    border: 0;
}
            /* ▵▵▵ X ▵▵▵ *//* #endregion */